@using Resources
@using Photogram.WebApp.Models
@using System.Drawing;

@model Media

@{
    Layout = null;
    
    string projectTitle;
    string titleStyle;
    
    if (Model.Project != null)
    {
        projectTitle = Model.Project.Title.FirstOrDefault().Text;
        titleStyle = "info";
    }
    else
    {
        projectTitle = Localization.NoProject;
        titleStyle = "warning";
    }
}

<div class="pckry-item" id="@Model.Id.ToString()">
    <a href="javascript:lightView('Image/@Model.FileName/')"
       class=" btn btn-default btn-xs thumb-magnifier noselect"
       title="@Localization.ZoomIn">
        <span class="glyphicon glyphicon-fullscreen"></span>
    </a>
    <img src="@Url.Content(String.Concat("~/Image/2000/200/", Model.FileName, "/"))"
         class="pckry-img" />
    <div class="label label-@titleStyle thumb-project-title">@projectTitle</div>
</div>
