@using Resources

<div class="row">
    <div class="col-lg-12">
        <form class="form-inline" ng-submit="ctrl.addPost()" name="addPostForm">
            <div class="form-group">
                <div class="input-group">
                    <input id="newPostTitle"
                           type="text"
                           class="form-control"
                           name="pTitle"
                           ng-model="ctrl.newPostTitle"
                           required
                           ng-maxlength="50"
                           maxlength="50"
                           placeholder="Title">
                    <span class="input-group-btn">
                        <input class="btn btn-primary"
                               type="submit"
                               value="Add Post"
                               ng-disabled="addPostForm.$invalid">
                    </span>
                </div>
                <span class="help-block"><small><i><b ng-bind="50 - ctrl.newPostTitle.length"></b> characters left</i></small></span>
            </div>
        </form>
        <div class="alert alert-danger" ng-bind="ctrl.errorMsg" ng-if="ctrl.errorMsg != ''"></div>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div id="operations" class="navbar-left" ng-if="ctrl.checkedCount() > 0">
                    <div class="btn-group btn-group-sm navbar-btn" role="group">
                        <button id="btnDelete"
                                type="button"
                                class="btn btn-default"
                                role="button"
                                ng-click="ctrl.deletePost()"
                                title="Delete">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                    <div class="btn-group btn-group-sm navbar-btn" role="group">
                        <button id="btnVisible"
                                type="button"
                                class="btn btn-default"
                                role="button"
                                ng-click="ctrl.setVisibility(true)"
                                title="Set Visible">
                            <i class="fa fa-eye"></i>
                        </button>
                        <button id="btnInvisible"
                                type="button"
                                class="btn btn-default"
                                role="button"
                                ng-click="ctrl.setVisibility(false)"
                                title="Set Invisible">
                            <i class="fa fa-eye-slash"></i>
                        </button>
                    </div>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input class="form-control" ng-model="ctrl.searchTerm" placeholder="Search a post..." maxlength="50" />
                        </div>
                    </div>
                </form>
            </div>
        </nav>
        <table class="table table-hover table-condensed" data-toggle="table" ng-if="ctrl.posts.length > 0">
            <caption><i class="fa fa-list"></i> @Localization.Posts <span class="badge" ng-bind="filteredPosts.length + ' / ' + ctrl.posts.length"></span> <span ng-bind="ctrl.checkedCount() + ' items selected'" ng-if="ctrl.checkedCount() > 0"></span></caption>
            <thead>
                <tr>
                    <th><input type="checkbox" ng-model="ctrl.model.allChecked" ng-change="ctrl.selectAll()" /></th>
                    <th>
                        <a href="#" ng-click="ctrl.sortType = 'title'; ctrl.sortReverse = !ctrl.sortReverse">
                            Title
                            <span ng-show="ctrl.sortType == 'title' && !ctrl.sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="ctrl.sortType == 'title' && ctrl.sortReverse"
                                  class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th class="visible-md visible-lg">Lead</th>
                    <th>
                        <a href="#" ng-click="ctrl.sortType = 'modified'; ctrl.sortReverse = !ctrl.sortReverse">
                            Modified
                            <span ng-show="ctrl.sortType == 'modified' && !ctrl.sortReverse"
                                  class="fa fa-caret-down"></span>
                            <span ng-show="ctrl.sortType == 'modified' && ctrl.sortReverse"
                                  class="fa fa-caret-up"></span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="post in ctrl.posts|search:ctrl.searchTerm | orderBy:ctrl.sortType:ctrl.sortReverse as filteredPosts" ng-class="{ 'info':post.visible, 'active':post.checked }">
                    <td><input type="checkbox" ng-model="post.checked" ng-change="ctrl.selectPost()" /></td>
                    <td><strong><a ng-href="blog/{{post.id}}" ng-bind="post.title"></a></strong></td>
                    <td class="visible-md visible-lg" ng-bind="post.lead"></td>
                    <td ng-bind="post.modified | date:'short'"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
