<div class="row">
    <div class="col-md-8">
        <form ng-submit="ctrl.submit()" name="editPostForm">
            <div class="panel panel-primary">
                <div class="panel-heading">Edit post</div>
                <div class="panel-body">
                    <div class="form-group form-group-lg">
                        <label>Title</label>
                        <input type="text"
                               ng-model="ctrl.post.title"
                               required
                               ng-maxlength="50"
                               maxlength="50"
                               class="form-control"
                               placeholder="Enter post title..." />
                    </div>
                    <div class="form-group">
                        <label>Lead</label>
                        <input type="text" ng-model="ctrl.post.lead" class="form-control" placeholder="Enter the lead..." />
                    </div>
                    <div class="form-group">
                        <label>Body</label>
                        <textarea class="form-control" ng-model="ctrl.post.body" placeholder="Enter post body..." rows="20"></textarea>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="pull-right">
                        <a href="blog" class="btn btn-default">Close</a>
                        <button type="submit"
                                ng-disabled="editPostForm.$invalid || editPostForm.$pristine"
                                class="btn btn-primary">
                            Save changes
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Tags</div>
            <div class="panel-body">
                <tags-input ng-model="ctrl.post.tags"
                            replace-spaces-with-dashes="false"
                            placeholder="Add a tag...">
                    <auto-complete source="ctrl.loadTags($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Pictures</div>
            <div class="panel-body">content</div>
        </div>
    </div>
</div>
