@using Resources
@using Photogram.WebApp.Models

@{ 
    Layout = null;
}

@model AboutModel

<section id="about" class="row row-fullpage text-center">
    <div class="row-middle-content">
        <div class="col-xs-12 info-container b-lazy"
             src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="         
             data-src="@Url.Content(string.Concat(Common.UploadPathImgRel, Model.Background.FileName, "?width={w}&mode=max&s.brightness=-0.05"))">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 info-container">
                    <h2 class="wide-spacing">@Localization.About</h2>
                    <h3>@Model.Lead</h3>
                    @Html.Raw(Model.Body)
                </div>
            </div>
        </div>
    </div>
</section>