@using Resources
@using Photogram.WebApp.Models

@{
    ViewBag.SectionId = "about";
    Layout = "~/Views/Shared/_LayoutHomeContent.cshtml";
}

@model AboutModel

<h2 class="wide-spacing">@Localization.About</h2>
<h3>@Model.Lead</h3>
@Html.Raw(Model.Body)