@using Photogram.WebApp.Models;
@using Resources;

@model IEnumerable<Project>


@foreach (var elem in Model)
{
    if (Request.IsAuthenticated)
    {
        <li class="gallery-item">
        @Html.ActionLink(elem.CurrentTitleText(), "Details", "Project",
            new { projectId = elem.Id },
            new { @class = "gallery-link" })
        @{
            string visibIcon = elem.Visible ? "glyphicon glyphicon-eye-open" : "glyphicon glyphicon-eye-close" ;            
        }


        @Ajax.ActionLink(" ", "SetVisibility", "Project",
            new { galleryId = elem.Id },
            new AjaxOptions
            {
                UpdateTargetId = "worksDropDown"
            }, new { @class = visibIcon + " keepOpen" }
         )

        @Ajax.ActionLink(" ", "Delete", "Project", new { projectId = elem.Id },
                new AjaxOptions
                {
                    Confirm = Localization.ConfirmDeleteItem,
                    UpdateTargetId = "worksDropDown"
                },
                     new { @class = "glyphicon glyphicon-remove keepOpen" }
                )
        </li>
    }
    else if (elem.Visible == true)
    {
        <li>
            @Html.ActionLink(elem.CurrentTitleText(), "Details", "Project",
                new { projectId = elem.Id },
                new { @class = "gallery-link" })
        </li>
    }
    
}

@if (Model.Count() != 0 && Request.IsAuthenticated)
{    
    <li class="divider"></li>
}

