@using Photogram.WebApp.Models
@using Resources

@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

@model Project

<div class="page-header">
    <h1>@Model.CurrentTitleText()</h1>
</div>
<div class="page-description">
    <p>@Model.CurrentDescriptionText()</p>
</div>
