@using Photogram.WebApp.Models
@using Resources

@model ProjectViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h1>@Localization.EditProject</h1>
</div>

<div class="container">
    @*@Html.ActionLink(Localization.Back, "Index", "Project", new { }, new { @class = "btn btn-default" })*@
    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <h3>@Localization.Properties</h3>
            <div id="project-properties-form">
                @Html.Partial("_EditPropertiesPartial", Model.Properties)
            </div>
        </div>
        <div class="col-lg-8 col-md-7 col-sm-6">
            <h3>@Localization.Contents</h3>
            <div class="alert alert-info" role="alert">
                Nincsenek itt képek.
            </div>
        </div>
    </div>
</div>
